# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Django
db.sqlite3
*.mo
*.pot
staticfiles/

# Environment
.env
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node
node_modules/
